.page-header {
  border-top: 1px solid #ececec;
  padding: 40px 0 40px;
  text-align: center;
  border-bottom: 1px solid #ececec;
  margin-bottom: 30px;

  span {
    border-bottom: 1px solid #ff8103;
    display: inline-block;
  }
}