.product {
  padding: 0 100px !important;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;

  .col {
    align-self: center;
    border-right: 1px solid #ececec;
    padding: 0 20px;

    &:last-child {
      border-right: none;
    }

    &:nth-child(2) {
      text-align: center;
    }

    .price {
      color: #ff8103;
      font-size: 20px;
      margin-top: -10px;
    }
  }
}

.empty-cart {
  text-align: center;
  font-size: 24px;
  padding: 30px;
}

.card-entry {
  margin: 30px;
  border-bottom: 1px solid #ececec;
  border-top: 1px solid #ececec;
  padding-top: 30px;;
  
  input {
    width: 630px;
  }
  .card-number {
    label {
      display: block;
    }
    input {
      width: 200px;
      display: inline-block;
    }
  }

  .place-order {
    margin-top: 30px;
    padding-bottom: 30px;
  }

}

.lgoin-btn {
  text-align: center;
  padding: 40px;
}
