.footer {
  background-color: #1f1f1f;
  padding: 20px 30px;
  color: #fff;
  margin-top: 30px;

  .col, .col-6 {
    padding: 20px 30px;
  }

  a {
    color: #808080;
  }

  .icon-align {
    font-size: 50px;
    float: left;
    margin-right: 10px;
    color: #808080;
  }
}