.product {
  padding: 0 100px !important;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;


  .col {
    align-self: center;
    border-right: 1px solid #ececec;
    padding: 0 20px;

    &:last-child {
      border-right: none;
    }

    &:nth-child(2) {
      text-align: center;
    }

    .price {
      color: #ff8103;
      font-size: 20px;
      margin-top: -10px;
    }

    img {
      width: 350px;
    }
  }
}

.no-results {
  text-align: center;
}
